section(class="canvas front" id="front")

    div(class="content")

        h2 Jawdah  

        div

            p Academic Accreditation and Quality System  

            div

                a(href="#section-2") More information
                a(href="#section-3") Contact Us

    +nav-1({ target: "section-1", direction: "next" })
